@if (User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>
    <form action="@Request.RawUrl?signout=true" method="post">
        <button type="submit" class="btn btn-small">Sign out</button>
    </form>
}
else
{ 
    <form action="@Request.RawUrl" method="post" class="form-inline">
        <fieldset class="row">
            <input type="text" name="username" placeholder="Username" required />
            <input type="password" name="password" placeholder="password" required />
            <button type="submit" class="btn">Sign in</button>
        </fieldset>
    </form>
}