
<article class="post" itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogpost">
    <header>
        <h2>
            <a href="/@Model.Slug" itemprop="url name">@Model.Title</a>
        </h2>
    </header>

    <div itemprop="articleBody">@Html.Raw(Model.Content)</div>
</article>
