@{
    int postsPerPage = 5;
    int currentPage = Request.CurrentPage();
}

@foreach (var post in Blog.GetPosts(postsPerPage))
{
    @RenderPage("Post.cshtml", post);
}

@{
    string prevDisabled = currentPage < 2 ? "disabled" : "";
    string nextDisabled = currentPage * postsPerPage >= Blog.Posts.Count ? "disabled" : "";
}

<ul class="pager">
    <li class="previous @prevDisabled"><a href="/page/@(currentPage - 1)/">&larr; Older</a></li>
    <li class="next @nextDisabled"><a href="/page/@(currentPage + 1)/">Newer &rarr;</a></li>
</ul>
