
<article class="post" itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogpost">
    <header>
        <h2>
            <a href="/@Model.Slug" itemprop="url name">@Model.Title</a>
        </h2>
    </header>

    <div itemprop="articleBody">@Html.Raw(Model.Content)</div>
</article>

<script>
var idcomments_acct = 'e1ec842359f571422db15ea9162929e0';
var idcomments_post_id;
var idcomments_post_url;
</script>
<span id="IDCommentsPostTitle" style="display:none"></span>
<script src="http://www.intensedebate.com/js/genericCommentWrapperV2.js"></script>