<div class="well">
    <ul class="nav nav-list">
        <li class="nav-header">About Me</li>
        <li><a href="http://twitter.com/mkristensen">Follow me on Twitter</a></li>
        <li><a href="https://github.com/madskristensen/">My GitHub playground</a></li>
        <li><a href="http://visualstudiogallery.msdn.microsoft.com/site/search?f%5B0%5D.Type=User&f%5B0%5D.Value=Mads%20Kristensen&f%5B0%5D.Text=Mads%20Kristensen">Visual Studio Gallery</a></li>
        <li class="nav-header">Recent Posts</li>
        <li>link1</li>
        <li>link1</li>
        <li>link1</li>
        <li class="nav-header">Advertisements</li>
        <li>ad1</li>
        <li>ad2</li>
    </ul>
</div>

<div class="well">
    <p>
        <span class="label">Disclaimer</span> The opinions expressed herein are my own personal opinions 
        and do not represent my employer's view in any way.
    </p>
</div>
