body, button, input {
    font: 1em/1.4 'Century Gothic', Verdana, Geneva, 'DejaVu Sans', sans-serif;
}

.page-header a {
    color: black;
}

.container {
    margin-bottom: 2em;
}

.user {
    text-align: right;
}

    .user span {
        margin-right: 1em;
    }

.post {
    margin-bottom: 3em;
}

    .post h2:first-child {
        margin: 0 0 .5em 0;
        font-size: 2em;
    }

    .post h2 {
        margin-bottom: 0;
        font-size: 1.4em;
    }

    .post p {
        padding: .2em 0;
    }

    .post #disqus_thread {
        margin-top: 3em;
        min-height: 350px;
    }

#login {
    margin: auto;
    width: 300px;
}

footer {
    background-color: #181818;
    color: white;
    text-align: center;
    font-size: .9em;
    opacity: .9;
    padding: 8px 0;
}

    footer .login {
        float: right;
        margin-right: 2em;
    }



/*#region Admin toolbar */

#admin {
    position: fixed;
}

    /*#admin a {
        outline: 0;
    }*/

    #admin #tools {
        position: relative;
        top: 5px;
        margin: 0 1em;
        display: none;
    }

    #admin .message {
        display: none;
        position: absolute;
        right: 2em;
        top: 8px;
    }

[contenteditable] {
    outline: thin dashed #181818;
    width: 100%;
    display: inline-block;
}

/*#endregion */
