body {
    font: 1em/1.4 'Century Gothic', Verdana, Geneva, 'DejaVu Sans', sans-serif;
}

.page-header a {
    color: black;
}

.container {
    margin-bottom: 2em;
}

.login {
    text-align: right;
}

    .login form input {
        max-width: 135px;
        min-width: 120px;
    }

.post {
    margin-bottom: 3em;
}

    .post h2:first-child {
        margin: 0 0 .5em 0;
        font-size: 2em;
    }

    .post h2 {
        margin-bottom: 0;
        font-size: 1.4em;
    }

    .post p {
        padding: .2em 0;
    }

footer {
    background-color: #181818;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    font-size: .9em;
    opacity: .9;
    width: 100%;
    line-height: 30px;
}
