
<form id="commentform">
    <fieldset>
        <legend>Post comment</legend>
        <ul>
            <li>
                <label for="commentname">Name</label>
                <input id="commentname" type="text" placeholder="Name" value="@User.Identity.Name" required />
            </li>
            <li>
                <label for="commentemail">Email</label>
                <input id="commentemail" type="email" placeholder="Email" required />
            </li>
            <li>
                <label for="commentcontent">Comment (no HTML allowed)</label>
                <textarea id="commentcontent" placeholder="Comment" required></textarea>
            </li>
            <li>
                <button class="btn">Post comment</button>
                <span id="status" class="info"></span>
            </li>
        </ul>
    </fieldset>
</form>