@{
    Page.ShowComments = false;
    Layout = "/themes/" + Blog.Theme + "/_layout.cshtml";
    bool showPostList = string.IsNullOrEmpty(Request.QueryString["slug"]);
}

@if (showPostList)
{
    Page.Title = Blog.Title;
    @RenderPage("/themes/" + Blog.Theme + "/PostList.cshtml")
}
@*else if (Request.RawUrl.Trim('/') == "login")
{
    Page.Title = "Sign in | " + Blog.Title;
    @RenderPage("~/login.cshtml")
}*@
else
{
    Post post = new Post();
    if (Request.RawUrl.Trim('/') != "new")
    {
        post = Post.GetPosts(1).ElementAt(0);
        Page.ShowComments = true;
    }
    
    Page.Title = post.Title + " | " + Blog.Title;    

    @RenderPage("/themes/" + Blog.Theme + "/Post.cshtml", post)
}

@if (User.Identity.IsAuthenticated)
{ 
    <div role="toolbar" class="navbar navbar-fixed-top" id="admin">
        <div class="navbar-inner">
            <ul class="nav">
                <li><button class="btn btn-link" id="btnNew">New post</button></li>
                <li><button class="btn btn-link" id="btnEdit" disabled>Edit</button></li>
                <li><button class="btn btn-link" id="btnDelete" disabled>Delete</button></li>
                <li><button class="btn btn-link" id="btnSave" disabled>Save</button></li>
                <li><button class="btn btn-link" id="btnCancel" disabled>Cancel</button></li>
            </ul>

            <div id="tools">
                <div class="btn-group">
                    <button class="btn btn-mini" data-cmd="italic"><i class="icon-italic"></i></button>
                    <button class="btn btn-mini" data-cmd="bold"><i class="icon-bold"></i></button>
                </div>

                <div class="btn-group">
                    <button class="btn btn-mini" data-cmd="justifyleft"><i class="icon-align-left"></i></button>
                    <button class="btn btn-mini" data-cmd="justifycenter"><i class="icon-align-center"></i></button>
                    <button class="btn btn-mini" data-cmd="justifyright"><i class="icon-align-right"></i></button>
                    <button class="btn btn-mini" data-cmd="justifyfull"><i class="icon-align-justify"></i></button>
                </div>

                <div class="btn-group">
                    <button class="btn btn-mini" data-cmd="insertunorderedlist" title="Bullet points"><i class="icon-list"></i></button>
                    <button class="btn btn-mini" data-cmd="insertorderedlist" title="Numbered bullet points"><i class="icon-th-list"></i></button>
                    <button class="btn btn-mini" data-cmd="outdent" title="Indent left"><i class="icon-indent-left"></i></button>
                    <button class="btn btn-mini" data-cmd="indent" title="Indent right"><i class="icon-indent-right"></i></button>
                </div>

                <div class="btn-group">
                    <button class="btn btn-mini" data-cmd="insertImage" title="Insert Image"><i class="icon-picture"></i></button>
                    <button class="btn btn-mini" data-cmd="createLink" title="Hyperlink"><i class="icon-globe"></i></button>
                    <button class="btn btn-mini" data-cmd="unlink" title="Remove hyperlink"><i class="icon-remove"></i></button>
                </div>
            </div>

            <span class="message"></span>
        </div>
    </div>
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="@Blog.InsertLink("/admin/edit.js")"></script>
}