@{
    Page.Title = "Sign in";
    Layout = "~/themes/" + Blog.Theme + "/_Layout.cshtml";
    
    string returnUrl = Request.QueryString["return"] ?? VirtualPathUtility.ToAbsolute("~/");
    bool loginFailed = false;

    if (Request.HttpMethod == "POST")
    {
        if (!string.IsNullOrEmpty(Request.Form["username"]) && !string.IsNullOrEmpty(Request.Form["password"]))
        {
            if (FormsAuthentication.Authenticate(Request.Form["username"], Request.Form["password"]))
            {
                FormsAuthentication.SetAuthCookie(Request.Form["username"], true);
                Response.Redirect(returnUrl, true);
            }
            else
            {
                loginFailed = true;
            }
        }
        else if (!string.IsNullOrEmpty(Request.QueryString["signout"]))
        {
            FormsAuthentication.SignOut();
            Response.Redirect(returnUrl, true);
        }
    }
}

@if (!User.Identity.IsAuthenticated)
{
    <form action="@Request.RawUrl" method="post" id="login">
        <fieldset>
            @if (loginFailed)
            {
                <p class="text-warning">Username or password is incorrect</p> 
            }

            <div class="control-group">
                <label for="username" class="control-label">Username</label>
                <input type="text" name="username" placeholder="Username" required autofocus />

                <label for="password" class="control-label">Password</label>
                <input type="password" name="password" placeholder="password" required />
            </div>

            <div class="control-group">
                <button type="submit" class="btn btn-primary">Sign in</button>
                <a href="@returnUrl" class="btn">Cancel</a>
            </div>
        </fieldset>
    </form>
}
else
{ 
    <h3>You are already signed in</h3>
}