@{
    Page.Title = "Sign in";
    Layout = "~/themes/" + Blog.Theme + "/_Layout.cshtml";
    Response.Cache.SetCacheability(HttpCacheability.NoCache);
    
    if (Request.HttpMethod == "POST")
    {
        string username = Request.Form["username"];
        string password = Request.Form["password"];
        
        if (!string.IsNullOrEmpty(username) && !string.IsNullOrEmpty(password))
        {
            if (FormsAuthentication.Authenticate(username, password))
            {
                FormsAuthentication.RedirectFromLoginPage(username, true);
            }
        }
        else if (!string.IsNullOrEmpty(Request.QueryString["signout"]))
        {
            FormsAuthentication.SignOut();
            Response.Redirect(Request.QueryString["ReturnUrl"], true);
        }
    }
}

@if (!User.Identity.IsAuthenticated)
{
    <form action="@Request.RawUrl" method="post" id="login">
        <fieldset>
            @if (Request.HttpMethod == "POST")
            {
                <p class="text-warning">Username or password is incorrect</p>
            }

            <div class="control-group">
                <label for="username" class="control-label">Username</label>
                <input type="text" id="username" name="username" placeholder="Username" required autofocus />

                <label for="password" class="control-label">Password</label>
                <input type="password" id="password" name="password" placeholder="password" required />
            </div>

            <div class="control-group">
                <button type="submit" class="btn">Sign in</button>
            </div>
        </fieldset>
    </form>
}
else
{
    <h3>You are already signed in</h3>
}