<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="blog:theme" value="barebone" />
    <add key="blog:name" value="MiniBlog" />
    <add key="blog:postsPerPage" value="5" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" enableVersionHeader="false" requestValidationMode="2.0" />
    <pages validateRequest="false" />
    <customErrors mode="RemoteOnly" />

    <authentication mode="Forms">
      <forms defaultUrl="~/" loginUrl="~/login/" name="miniblog" timeout="10080">
        <credentials passwordFormat="SHA1">
          <!-- Generate your hash password here http://www.stringfunction.com/sha1-hash.html -->
          <user name="madsk@example.com" password="a94a8fe5ccb19ba61c4c0873d391e987982fbbd3" />
          <user name="sayedha@example.com" password="36a7ac9bd13edc65df386d0a809abc6268b30a1a" />
        </credentials>
      </forms>
    </authentication>

    <profile>
      <properties>
        <add name="FullName" defaultValue="Diller" />
      </properties>
    </profile>

    <machineKey decryption="AES" validation="SHA1" decryptionKey="435D9CC99471D1E7C70FFEBA5EC71F28048BF9016605B82CC69B091FD317B294" validationKey="25C5D98CE093E77C2F886A6D8C6DA8FBC77CD764A1BF49E5D30CD123C5E19553" />
  </system.web>

  <system.webServer>
    <urlCompression doDynamicCompression="true" doStaticCompression="true" dynamicCompressionBeforeCache="false" />

    <handlers>
      <add name="CommentHandler" verb="POST" type="CommentHandler" path="/comment.ashx" />
      <add name="PostHandler" verb="POST" type="PostHandler" path="/post.ashx" />
      <add name="MetaWebLogHandler" verb="POST,GET" type="MetaWeblogHandler" path="/metaweblog" />
      <add name="FeedHandler" verb="GET" type="FeedHandler" path="/feed/*" />
      <add name="CssHandler" verb="GET" type="MinifyHandler" path="*.css" />
      <add name="JsHandler" verb="GET" type="MinifyHandler" path="*.js" />
    </handlers>

    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365:00:00" />
    </staticContent>

    <security>
      <requestFiltering allowDoubleEscaping="true" />
    </security>

    <rewrite>
      <rules>
        <rule name="paging" stopProcessing="true">
          <match url="^(page/)([\d])" ignoreCase="true" />
          <action type="Rewrite" url="/?page={R:2}" />
        </rule>

        <rule name="category" stopProcessing="true">
          <match url="^category/([^/]+)(/page/)?([\d]+)?" ignoreCase="true" />
          <action type="Rewrite" url="/?category={R:1}&amp;page={R:3}" />
        </rule>
        
        <rule name="slug" stopProcessing="true">
          <match url="^post/(.*)" ignoreCase="true" />
          <action type="Rewrite" url="/?slug={R:1}" />
        </rule>

        <rule name="fingerprint" stopProcessing="true">
          <match url="([\S]+)(/v-[0-9]+/)([\S]+)" />
          <action type="Rewrite" url="{R:1}/{R:3}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>

</configuration>