<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="blog:theme" value="snowy"/>
    <add key="blog:name" value="My Blog"/>
    <add key="disqus:shortname" value="madskristensen"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="Microsoft.Web.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Helpers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.WebPages, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" enableVersionHeader="false" requestValidationMode="2.0"/>
    <pages validateRequest="false"/>
    <customErrors mode="RemoteOnly"/>
    <authentication mode="Forms">
      <forms defaultUrl="~/login/" name="miniblog" timeout="10080">
        <credentials passwordFormat="SHA1">
          <user name="Mads Kristensen" password="a94a8fe5ccb19ba61c4c0873d391e987982fbbd3"/>
          <user name="Sayed Hashimi" password="36a7ac9bd13edc65df386d0a809abc6268b30a1a"/>
          <user name="Scott Hunter" password="b9bc48ae8eb11219d72dd4d632aa16c68b96c03f"/>
        </credentials>
      </forms>
    </authentication>
    <authorization>
      <allow users="*"/>
      <deny users="?"/>
    </authorization>
    <machineKey decryption="AES" validation="SHA1" decryptionKey="435D9CC99471D1E7C70FFEBA5EC71F28048BF9016605B82CC69B091FD317B294" validationKey="25C5D98CE093E77C2F886A6D8C6DA8FBC77CD764A1BF49E5D30CD123C5E19553"/>
  </system.web>
  <system.webServer>
    <urlCompression doDynamicCompression="true" doStaticCompression="true" dynamicCompressionBeforeCache="false"/>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365:00:00"/>
    </staticContent>
    <rewrite>
      <rules>
        <rule name="paging" stopProcessing="true">
          <match url="^(page/)([\d])" ignoreCase="true"/>
          <action type="Rewrite" url="/?page={R:2}"/>
        </rule>
        <rule name="fingerprint" stopProcessing="false">
          <match url="([\S]+)(/v-[0-9]+/)([\S]+)"/>
          <action type="Rewrite" url="{R:1}/{R:3}"/>
        </rule>
        <rule name="slug" stopProcessing="false">
          <conditions>
            <add input="{PATH_INFO}" pattern="\." negate="true"/>
            <add input="{PATH_INFO}" pattern="^/login(/?)" negate="true"/>
          </conditions>
          <match url="^.*" ignoreCase="true"/>
          <action type="Rewrite" url="/?slug={R:0}"/>
        </rule>
      </rules>
      <outboundRules>
        <rule name="Remove ETag">
          <match serverVariable="RESPONSE_ETag" pattern=".+"/>
          <action type="Rewrite" value=""/>
        </rule>
      </outboundRules>
    </rewrite>
  </system.webServer>
</configuration>