body {
    background-color: #fff;
}

img, video, iframe {
    max-width: 100%;
}

.page-header {
    border: none;
    text-align: center;
}

    .page-header a {
        font-size: 3em;
        color: #000;
    }

.container {
    margin-bottom: 2em;
    max-width: 650px;
    margin: 0 auto;
    font: 1.3em/1.5 'Century Gothic', Verdana, Geneva, 'DejaVu Sans', sans-serif;
    height: 100%;
}

    .container .pager {
        margin-top: 2em;
    }

label, input[type], button, textarea {
    font: inherit;
}

/*#region Post */

.post header {
    position: relative;
}

    .post header h1 {
        margin-bottom: 0px;
    }

        .post header h1 a {
            font-size: .8em;
            color: #000;
        }

    .post header div {
        font-size: .75em;
        margin-bottom: 1em;
        opacity: .7;
    }

        .post header div i:not(:first-child) {
            margin-left: 10px;
        }

        .post header div .categories {
            margin-left: 10px;
            display: inline;
        }

            .post header div .categories li {
                display: inline-block;
            }

                .post header div .categories li:not(:first-child):not(:last-child):after {
                    content: ", ";
                }

.post abbr {
    border: none;
}

.post h2 {
    margin-bottom: 0;
    font-size: 1.1em;
}

.post div[itemprop='articleBody'] {
    border-bottom: 1px solid #d3d3d3;
    padding-bottom: .5em;
}

.post p {
    padding: .2em 0;
}

.post li {
    line-height: 1.5;
}

/*#endregion */

/*#region Comments */

#comments article {
    position: relative;
}

    #comments article div {
        padding-left: 70px;
    }

        #comments article div p {
            border: 1px solid #d3d3d3;
            border-radius: 5px;
            padding: 7px;
            position: relative;
            -ms-word-break: break-all;
            word-break: break-all;
        }

            #comments article div p:before {
                content: "";
                position: absolute;
                top: 10px;
                left: -10px;
                border-style: solid;
                border-width: 9px 9px 9px 0;
                border-color: transparent #d3d3d3;
            }

            #comments article div p:after {
                content: "";
                position: absolute;
                top: 10px;
                left: -9px;
                border-style: solid;
                border-width: 9px 9px 9px 0;
                border-color: transparent #ffffff;
            }

    #comments article.self div p {
        background: #f7f7f7;
    }

        #comments article.self div p:after {
            border-color: transparent #f7f7f7;
        }

    #comments article [itemprop='commentText'] {
        margin: 0;
    }

    #comments article img {
        border-radius: 5px;
        position: absolute;
        top: 19px;
    }

    #comments article [itemprop='commentTime'] {
        display: block;
        text-align: right;
        font-size: .7em;
    }

    #comments article [itemprop='creator'] {
        font-size: .8em;
        margin-left: 7px;
    }

/*#endregion */

/*#region Comment form */

#commentform {
    margin-top: 2em;
    width: 100%;
}

    #commentform ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    #commentform li {
        margin: 10px 0;
    }

    #commentform label {
        display: inline-block;
        min-width: 80px;
        position: relative;
    }

    #commentform input {
        width: 280px;
        line-height: 100%;
        display: inline-block;
    }

    #commentform textarea {
        width: 98%;
        height: 100px;
        font: inherit;
    }

    #commentform textarea, #commentform input {
        border-radius: 4px;
    }

#status {
    margin-left: 1em;
}

    #status.info {
        color: green;
    }

    #status.error {
        color: red;
    }

/*#endregion */

/*#region Footer */

#pagefooter {
    background-color: #181818;
    color: #fff;
    text-align: center;
    font-size: .9em;
    opacity: .9;
    padding: 8px 0;
    margin-top: 4em;
    width: 100%;
    position: absolute;
    left: 0;
}

    #pagefooter .login {
        float: right;
        margin-right: 2em;
    }

/*#endregion */

/*#region Login page */

#login {
    margin: 3em auto 10em auto;
    width: 230px;
}

    #login input {
        border-radius: 4px;
        margin-bottom: 10px;
    }

    #login button{
        margin-top: 1em;
        display: block;
    }

/*#endregion */