<form id="commentform" novalidate>
    <fieldset>
        <legend>Post comment</legend>
        <div class="row">
            <div class="large-12 columns">
                <label for="commentname">Name</label>
                <input id="commentname" title="Name" type="text" placeholder="Name" required />
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns">
                <label for="commentemail">Email</label>
                <input id="commentemail" title="Email" type="email" placeholder="Email" required />
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns">
                <label for="commenturl">Website</label>
                <input id="commenturl" type="text" title="Website" pattern="(https?://)?(www\.)?([a-zA-Z0-9_%]*)\b\.[a-z]{2,4}(\.[a-z]{2})?((/[a-zA-Z0-9_%]*)+)?(\.[a-z]*)?" placeholder="Website URL" />
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns">
                <label for="commentcontent">Comment (no HTML allowed)</label>
                <textarea id="commentcontent" title="Comment" placeholder="Comment" required></textarea>
            </div>
        </div>

        <div class="row right">
            <div class="large-12 columns">
                <button title="Post Comment" class="button">Post comment</button>
                <span id="status" class="info"></span>
            </div>
        </div>

    </fieldset>
</form>
