body {
    background-color: white;
}

.page-header {
    border: none;
    text-align: center;
}

    .page-header a {
        font-size: 3em;
        color: black;
    }

.container {
    margin-bottom: 2em;
    max-width: 650px;
    margin: 0 auto;
    font: 1.3em/1.5 'Century Gothic', Verdana, Geneva, 'DejaVu Sans', sans-serif;
}

label, input[type], button, textarea {
    font: inherit;
}

.post header {
    position: relative;
}

    .post header h1 {
        margin-bottom: 0px;
    }

    .post header a {
        font-size: .7em;
        color: black;
    }

    .post header p {
        font-size: .7em;
    }

        .post header p abbr {
            margin-right: 10px;
        }

.post abbr {
    border: none;
}

.post h2 {
    margin-bottom: 0;
    font-size: 1.1em;
}

.post div[itemprop='articleBody'] {
    border-bottom: 1px solid #d8d8d8;
    padding-bottom: .5em;
}

.post p {
    padding: .2em 0;
}

.post li {
    line-height: 1.5;
}

.post #disqus_thread {
    margin-top: 3em;
    min-height: 350px;
}

#login {
    margin: 3em auto 10em auto;
    width: 300px;
}

footer {
    background-color: #181818;
    color: white;
    text-align: center;
    font-size: .9em;
    opacity: .9;
    padding: 8px 0;
    margin-top: 4em;
}

    footer .login {
        float: right;
        margin-right: 2em;
    }

#comments article {
    position: relative;
}

    #comments article div {
        padding-left: 70px;
    }

    #comments article [itemprop='commentText'] {
        margin: 0;
    }

    #comments article img {
        border-radius: 5px;
        position: absolute;
        top: 28px;
    }

    #comments article [itemprop='commentTime'] {
        display: block;
        text-align: right;
        font-size: .7em;
    }

#commentform {
    margin-top: 2em;
}

    #commentform ul {
        list-style: none;
        margin: 0;
    }

    #commentform li {
        margin: 5px 0;
    }

    #commentform label {
        display: inline-block;
        min-width: 70px;
        position: relative;
    }

    #commentform input {
        width: 280px;
        line-height: 100%;
    }

    #commentform textarea {
        width: 98%;
        height: 100px;
    }

#status {
    margin-left: 1em;
}

    #status.info {
        color: green;
    }

    #status.error {
        color: red;
    }
