@{  
    Page.ShowComments = false;
    Layout = "/themes/" + Blog.Theme + "/_layout.cshtml";

    Post post = Post.GetPosts(1).ElementAt(0);
    Page.Title = post.Title + " | " + Blog.Title;

    if (!User.Identity.IsAuthenticated)
    {
        Response.Redirect("~/login/?return=/edit/" + post.Slug);
    }
}

@RenderPage("/themes/" + Blog.Theme + "/Post.cshtml", post)

<div role="toolbar" class="navbar navbar-fixed-bottom">
    <nav class="navbar-inner">
        <ul class="nav">
            <li><a href="#" id="btnSave">Save</a></li>
            <li><a href="/delete/@post.Slug" id="btnDelete" onclick="return confirm('Are you sure you want to delete this post?')">Delete</a></li>
            @if (post.IsPublished)
            {
                <li><a href="#" id="btnUnpublish" onclick="return confirm('Are you sure you want to unpublish this post?')">Un-publish</a></li>
            }
            else
            {
                <li><a href="#" id="btnPublish">Publish</a></li>
            }
            <li><a href="/@post.Slug" id="btnCancel">Cancel</a></li>
        </ul>
    </nav>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="/admin/edit.js"></script>
