<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxMin" version="5.14.5506.26202" targetFramework="net45" />
  <package id="bootstrap" version="3.4.1" targetFramework="net461" />
  <package id="jQuery" version="3.4.1" targetFramework="net461" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net461" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="WebMarkupMin.Core" version="2.5.8" targetFramework="net461" />
  <package id="xmlrpcnet" version="3.0.0.266" targetFramework="net45" />
  <package id="xmlrpcnet-server" version="3.0.0.266" targetFramework="net45" />
</packages>