<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxMin" version="5.11.5295.12309" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.1.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.1.2" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="WebMarkupMin.Core" version="0.9.0-beta3" targetFramework="net45" />
  <package id="xmlrpcnet" version="3.0.0.266" targetFramework="net45" />
  <package id="xmlrpcnet-server" version="3.0.0.266" targetFramework="net45" />
</packages>