@{
	Layout = "~/themes/" + Blog.Theme + "/_Layout.cshtml";

	Page.Title = "Search";
	Page.Description = "The search page of Jan-V.nl";
}
	<article class="post" itemscope itemtype="http://schema.org/Search" itemprop="search">
		<header class="jumbotron">
			<h1 itemprop="headline name">
				<a href="/search" itemprop="url">Search</a>
			</h1>
		</header>

		<div itemprop="articleBody">
			<script async src="https://cse.google.com/cse.js?cx=016464995905244916127:voml_il1bmy"></script>
			<div class="gcse-searchbox-only"></div>

			<script async src="https://cse.google.com/cse.js?cx=016464995905244916127:voml_il1bmy"></script>
			<div class="gcse-searchresults-only"></div>
		</div>
	</article>