
<configuration>
  <system.web>
    <httpHandlers>
      <clear />
      <add path="*" verb="*" type="System.Web.HttpNotFoundHandler"/>
    </httpHandlers>
  </system.web>
  <system.webServer>
    <handlers accessPolicy="Script">
      <clear/>
      <add name="NotFound" path="*" verb="*" type="System.Web.HttpNotFoundHandler" preCondition="integratedMode" requireAccess="Script"/>
    </handlers>
  </system.webServer>
</configuration>